<div class="form-row-group row">
    <div class=" col-lg-5">
        {% include 'sections/select-categories.html.twig' %}
    </div>
    <div class="col-lg-6">
        <h4><button class="btn btn-primary btn-md category" type="button">Ajouter une catégorie</button></h4>
    </div>
</div>

<div id="divNewCat" class="form-row-group border-row row" style="display:none;">
    <h4><label for="inputCategory" class="text-primary">Nouvelle catégorie</label></h4>
    <div class="col-lg-10">
        <input id="inputCategory" name="inputCategory" class="form-control" type="text" placeholder="Entrer un libellé">
        <small class="help-block personal_validation" data-bv-result="NOT_VALIDATED" style="display: none;"></small>
    </div>
    <div class="col-lg-2">
        <button id="addCategoryBtn" name="addCategoryBtn" class="btn input-lg btn-block btn-primary border-radius-btn category-btn" type="button" disabled>Ajouter</button>
    </div>
</div>