<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <a class="title" href="{{ path('home') }}"><h1>{{ blog.getSTitle }}</h1></a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Navigation -->

<div id="my-sticky">
    <nav class="navbar navbar-default text-center">
        <a class="nav-link" href="{{ path('home') }}">
        <div class="home-btn">
            <i class="fa fa-home"></i> Accueil
        </div><!-- /.home-btn -->
        </a>
    </nav><!-- /.nav -->
</div>
