{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur mon blog{% endblock %}


{% block js %}
    <!-- Personal JavaScript -->
    <script src="{{ asset('/js/dynamicFront.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="post_list">
    {% include 'sections/post_list.html.twig' %}
    </div>
    <!-- more button -->
    <div class="form-suivre text-center">
        <button type="button" data-idx="{{ lastIdx }}" class="btn btn-default btn-md">Plus de posts</button>
    </div>
{% endblock %}

